<template>
  <div>
    <ul class="flex space-x-4">
      <li v-for="page in pages" :key="page.id">
        <NuxtLink
          class="
            rounded
            border
            py-2
            px-4
            hover:text-white
          "
          :to="page.slug" v-html="page.title"
        />
      </li>
    </ul>
  </div>
</template>

<script>
import {request, gql} from "graphql-request";

export default {
  name: 'NavigationBar',
  data() {
    return {pages: []};
  },
  async fetch() {
    const query = gql`
      {
        entries(collection: "pages", filter: {id: {not: "home"}}) {
          current_page
          data {
            id
            slug
            title
          }
        }
      }
    `;

    const response = await request(process.env.graphql_endpoint, query);
    this.pages = response.entries.data
  },
};
</script>
