<template>
  <div
    class="
      min-h-screen
      text-gray-400
    "
  >
    <div
      class="
        flex
        justify-between
        items-center
        py-4
        px-8
        bg-gray-800
      "
    >
      <NuxtLink to="/">
        <NuxtLogo />
      </NuxtLink>
      <Navigation />
    </div>
    <div class="py-4 px-8 ">
      <Nuxt />
    </div>
  </div>
</template>

<script>
  export default {
    name: "DefaultLayout"
  }
</script>
