<template>
  <div>
    <h1 class="text-3xl font-bold mb-8" v-text="page.title" />
    <div class="prose" v-html="page.content" />
    <div class="prose" v-html="page.author.name" />
  </div>
</template>

<script>
import { request, gql } from "graphql-request";

export default {
  async asyncData({ params }) {
    const query = gql`
      query Entry($uri: String) {
        entry(uri: $uri) {
          title
          ... on Entry_Pages_Pages {
            content
            author{name}
          }
        }
      }
    `;

    const response = await request(process.env.graphql_endpoint, query, {
      uri: "/" + params.pathMatch,
    });
    const page = response.entry;

    if (!page) {
      throw new Error('404');
    }

    return { page };
  },
};
</script>

