<template>
  <div>
    <h1 class="text-3xl font-bold mb-8" v-text="page.title"/>
    <div class="" v-html="page.content"/>
    <div class="" v-html="page.author.name"/>
  </div>
</template>

<script>
import {request, gql} from "graphql-request";

export default {
  name: 'IndexPage',
  async asyncData({params}) {
    const query = gql`
      {
        entry(id: "home") {
          title
          ... on Entry_Pages_Pages {
            content
            author {
              name
            }
          }
        }
      }
    `;

    const response = await request(process.env.graphql_endpoint, query, {
      uri: "/" + params.pathMatch,
    });
    const page = response.entry;

    if (!page) {
      throw new Error('404');
    }

    return {
      page,
      pages: response.entries
    };
  },
};
</script>
